h1{
    padding: .5vw;
      background-color: yellow;
      border: green solid 2px;
    position: absolute;
color: green;
    top: 10vh;
      
  }
  

  body{
    padding: 0;
    margin: 0;
    background-color: lightgreen;
}
   
*::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  input {
    cursor: pointer;
    margin: 0;
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 20vh; 

  outline: none; 
  
 
overscroll-behavior-y: contain;
    }
input::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5vh; 
  height: 20vh;

    cursor: e-resize;
  border-radius: 1em;

}

input::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5vh; 
  height: 20vh;
 
    cursor: e-resize;
  border-radius: 1em;
}
.center{
    position: relative;

    display: flex;
    justify-content: center;
    text-align: center;
}