h1{
    padding: .5vw;
      background-color: yellow;
      border: green solid 2px;
    position: absolute;
color: green;
    top: 10vh;
      
  }
  

  body{
    padding: 0;
    margin: 0;
    background-color: lightgreen;
}
   
*::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.center{
    position: relative;

    display: flex;
    justify-content: center;
    text-align: center;
}
home-button{
  z-index: 5;
  position: sticky;
  top: 0;
}