#col{
    flex-direction: column;
    justify-content: center;
    display: flex;
    width:min-content;
    margin: 0 auto;
}
.center{
    position: relative;

    display: flex;
    justify-content: center;
    text-align: center;
}

body{
    cursor: url('../images/cursor.svg'), auto;
    margin: 0;
    box-sizing: border-box;
background-color:lightgreen;
overflow-x: hidden;
padding: 0;
}
#logo{
 
    height: 30vh;
    margin-top: 2vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    transition: .5s linear;
   
}
#logo:hover{
 transform: scale(1.075);
}

p{
   z-index: 1;
   font-size: 20px;
}
.cloud{
    position: absolute;
    top: -10vw;
    z-index: -1;
    width: 30vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.cloud{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.cloud:nth-child(1){
   left: 10vw;
  
}
.cloud:nth-child(2){
    right: 10vw;
  
 }
#rain1{
position: absolute;

animation: drop 25s ease-out  infinite;
z-index: .5;
}
#rain2{
    position: absolute; 
    
    animation: drop 20s ease-out  infinite;
    z-index: .5;
}
#rain3{
    position: absolute; 
    
    animation: drop 30s ease-out infinite ;
    z-index: .5;
}
#rain4{
    position: absolute; 
    
    animation: drop 15s ease-out  infinite;
    z-index: .5;
}
#rain5{
    position: absolute; 
    
    animation: drop 33s ease-out  infinite;
    z-index: .5;
}
#rain6{
    position: absolute;  
    
    animation: drop 35s ease-out  infinite;
    z-index: .5;
}
.rain{
    z-index: -2;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    height: 1em;
}
@keyframes drop {
0%{
transform: translateY(0%);
transform: scale(.3);
}



90%{
    transform: scale(1.0);
    transform: translateY(0);
}

100%{
    transform: translateY(100vh);
   
}
}
footer{margin-top: 100vh;
    top: 100vh;
}
li{
    list-style: none;
}

#splash_text{
    word-wrap: break-word;
}

@media only screen and (orientation:portrait){
.four{
    display: none;
}
.eight{
    margin: 0 auto;
    height: calc(5em + 30vh);
    bottom:  18vh;
    position: relative;
  z-index: -1;
}
#carrot{z-index: -1;
    height: 20vh;
    bottom:18vh;
    right: 60vw;
}
}
@media only screen and (orientation:landscape){
    .four{z-index: -1;
        margin: 0 auto 0 auto;
        display: block;
        height: calc(5em + 37.5vh);
        position: relative;
        bottom: 15vh;
        
       
    }
    .eight{
        display: none;
    }
    #carrot{z-index: -1;
        height: 50vh;
        bottom: 15vh;
        right: 50vw;
    }
    }
#grid{
    position: relative;
    bottom: -20vh;
    display: flex;
    flex-direction: row;
    
}
#carrot {
z-index: -1;
    position: absolute;
   
   transform: rotateZ(15deg);

   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Edge, Opera and Firefox */
}



body::-webkit-scrollbar {
    display: none;
   
  }
  
/* START OF PAGE ANIMATION CODE */
  #fade{
      filter: grayscale(1);
      background-color: lightgray;
    transition-duration:  2s;
    transition-property:filter background-color; 
  }
  body.loaded{
  background-color: lightgreen !important;
    filter: grayscale(0) !important;
  }
  /* END oF PAGE ANIMATION CODE */
body{
   
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .sun{
      position: absolute;
      top: -10vw;
    right:0;
    width: 20vw;
    height: 20vw;
    background-color:rgb(255, 255, 77);
    border-radius: 50%;
   
animation: pulse 2s ease infinite;
  }
@keyframes pulse{
0%{
    box-shadow: rgba(255, 255, 0, 0.5) 0 0 5em 1em;
}
50%{
    box-shadow: rgba(255, 255, 0, 0.5) 0 0 10em 2.5em;
}  
100%{
    box-shadow: rgba(255, 255, 0, 0.5) 0 0 5em 1em;
}
}
  .dirt{
    background:linear-gradient(rgb(189, 102, 51),rgb(128, 60, 21),rgba(71, 30, 2, 1));
position: relative;
display: flex;
align-items:flex-end;
width: 100%;
height: 20vh;
margin-top: 20vh;
top:15vh;
 
   


}
/* The slider itself */

  h1{
      word-spacing: .25em;
    letter-spacing: .2em ;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      position: relative;
     color: rgb(18, 150, 6);
     -webkit-text-stroke: 2px black;
     font-size: 2em;
     font-weight:900;
     margin-top: 5vh;
     

  }
  
.Poly{
    position:relative;
    width:inherit;
    display: flex;
}