
body{
    cursor: url('./cursor.svg'), auto;
    margin: 0;
    box-sizing: border-box;
background-color:lightgreen;
overflow-x: hidden;
padding: 0;
}
#logo{
    height: 40vh;
    margin-top: 2vh;
    
    transition: .5s linear;
   
}
#logo:hover{
    transform: scale(1.1);
    

}

p{
   z-index: 1;
   font-size: 20px;
}
.cloud{
    position: absolute;
    top: -10vw;
    z-index: -1;
    width: 30vw;
}
.cloud:nth-child(1){
   left: 10vw;
  
}
.cloud:nth-child(2){
    right: 10vw;
  
 }
#rain1{
position: absolute;

animation: drop 25s ease-out  infinite;
z-index: .5;
}
#rain2{
    position: absolute; 
    
    animation: drop 20s ease-out  infinite;
    z-index: .5;
}
#rain3{
    position: absolute; 
    
    animation: drop 30s ease-out infinite ;
    z-index: .5;
}
#rain4{
    position: absolute; 
    
    animation: drop 15s ease-out  infinite;
    z-index: .5;
}
#rain5{
    position: absolute; 
    
    animation: drop 33s ease-out  infinite;
    z-index: .5;
}
#rain6{
    position: absolute;  
    
    animation: drop 35s ease-out  infinite;
    z-index: .5;
}
.rain{
    height: 1em;
}
@keyframes drop {
0%{
transform: translateY(0%);
transform: scale(.3);
}



90%{
    transform: scale(1.0);
    transform: translateY(0);
}

100%{
    transform: translateY(130vh);
   
}
}
footer{margin-top: 100vh;
    top: 100vh;
}
li{
    list-style: none;
}



#grid > a:hover{
    transition:box-shadow .25s linear;
    box-shadow: #0fa400 -.5vw .5vw 2vw .25vw ;
    border:dashed .25vw green;

}
#grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
 #grid >a {
  
       
    width: 35vw;
    margin:1vw 5vw;
    background-color: white;
    color: green;
    background-color: yellow;
    text-decoration: none;
    border: solid .25vw green;
    font-weight: bold;
    padding: 1vw;
    font-size: 1.5em;
    word-wrap: break-word;
    text-align: center;
}
#carrot {
z-index: -1;
    position: absolute;
    height: 75vh;
  bottom: 0vh;
   transform: rotateZ(15deg);
   right: 40vw;
   
}



body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .sun{
      position: absolute;
      top: -10vw;
    right:0;
    width: 20vw;
    height: 20vw;
    background-color:yellow;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 0, 0.5) 0 0 50px 10px;

  }

.dirt > img {
    position: absolute;
    top: -65vh;
}
  .dirt{
    background:linear-gradient(rgb(189, 102, 51),rgb(128, 60, 21),rgba(71, 30, 2, 1));
position: relative;

width: 100%;
height: 20vh;
margin-top: 20vh;
bottom:0vh;
 
   


}
/* The slider itself */
input {
    cursor: pointer;
    scroll-behavior: smooth;
    -webkit-appearance: none; 
    appearance: none;
    width: 100vw; 
    height: 20vh; 
    background:linear-gradient(rgb(189, 102, 51),rgba(71, 30, 2, 1));
    outline: none; 
   z-index: 1;
   margin: 0;
  }
  
  /* Mouse-over effects */

  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5vh; 
    height: 20vh;
    background:rgba(71, 30, 2, 1); 
    border-radius: 1vw;
    margin: 0;
    cursor: e-resize;
  }
  
  input::-moz-range-thumb {
    width: 5vh; 
    height: 20vh;
    background:rgba(71, 30, 2, 1); 
    border-radius: 1vw;
    margin: 0;
    cursor: e-resize;
  }
  h1{
      word-spacing: 1vw;
    letter-spacing: .2vw;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      position: relative;
     color: rgb(18, 150, 6);
     -webkit-text-stroke: 1px black;
     font-size: 3em;
     font-weight: bolder;

  }
  
